:root {
    --color1: #001219;
    --color2: #005f73;
    --color3: #3d9397;
    --color4: #94d28d;
    --color5: #e9d8a6;
    --color6: #ee9800;
    --color7: #ca6702;
    --color8: #bb3e03;
    --color9: #ae2012;
    --color10: #9b2226;
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    font-family: var(--font);
    background-color: var(--color5);
    padding: 0;
    margin: 0;
}
/* Media Query for Mobile View */
@media(min-width:350px) and (max-width:599px){
    .nav-section{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: 
        center;
    }
    div.main-content h1{
        padding-left: 2rem;
        font-size: 1.3rem;
    }
    .footer{
        display: flex;
        flex-flow: row wrap;
    }
    li.logo{
        order: 1;
    }
    li.link{
        order: 2;
    }
    .footer{
        display: flex;
        gap: 2rem;
    }
}
/* The styling for the header section */

.nav-section{
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}
ul{
    list-style-type: none;
}
.nav-section a{
    text-decoration: none;
    color: var(--color1);
}
/* Main content styling */
 .main-content{
    background-color: lightgrey;
    padding: 0;
    margin: 0;
}
.main-content h1{
    padding-top: 2rem;
    padding-left: 8rem;
}
img{
    width: 100%;
    height: 100%;
}
div.main-content ul{
    display: grid;
    grid-template-columns: repeat(2,minmax(100px,1fr));
    /* grid-template-rows: repeat(4, 1fr); */
    gap:1rem ;
}
li.one{
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}
li.two{
    grid-row: 4 / 6 ;
    grid-column: 1 / 2;
}
li.three{
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}
li.four{
    grid-row: 2 / 3 ;
    grid-column: 2 / 3;
}
li.five{
    grid-row: 3 / 6;
    grid-column: 2 / 3;
}
li.three img,.about-author{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
li.three img{
    opacity: 0.3;
}
.about-author{
    padding-left: 1rem;
  
}
/* Footer styling */
div.social-handle{
    padding-left: 1.5rem;
}
.footer{
    display: flex;
    justify-content: space-between;
}